config BOARD_EEG_WEARABLE
	select SOC_NRF54L15_CPUAPP if BOARD_EEG_WEARABLE_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_EEG_WEARABLE_NRF54L15_CPUFLPR || \
		BOARD_EEG_WEARABLE_NRF54L15_CPUFLPR_XIP